<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fishbowlapplication">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page6Activity"></activity>
        <activity android:name=".page1Activity" />
        <activity android:name=".DBTESTActivity" />
        <activity android:name=".Main2_2Activity" />
        <activity android:name=".page1_2Activity" />
        <activity android:name=".page1_1Activity" />
        <activity android:name=".page5Activity" />
        <activity android:name=".page4Activity" />
        <activity android:name=".page3Activity" />
        <activity android:name=".page2Activity" />
        <activity android:name=".MainActivity">
        <!-- <activity android:name=".StartActivity"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>